/**
  * @name Discord Connections Glow
  * @helped create this: kyuuhachi, Madeline#3336, huderon, cheesesamwich, callme_h
  * @Like thanks a lot callme_h and huderon you both made most of the code.
*/
.connectedAccountContainer__5972d:hover:has([aria-label="Spotify"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Spotify"]) {
  color: #1DB954 !important;
}
.connectedAccountContainer__5972d:hover:has([aria-label="Twitch"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Twitch"]) {
  color: #9146FF !important;
}
.connectedAccountContainer__5972d:hover:has([aria-label="YouTube"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="YouTube"]) {
 color: #FF0000 !important;
}
.connectedAccountContainer__5972d:hover:has([aria-label="Reddit"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Reddit"]) {
  color: #FF4500 !important;
}
.connectedAccountContainer__5972d:hover:has([aria-label="PayPal"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="PayPal"]) {
  color: #00457C !important;
}
.connectedAccountContainer__5972d:hover:has([aria-label="TikTok"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="TikTok"]) {
 color: #ff0050 !important;
}
.connectedAccountContainer__5972d:hover:has([aria-label="Steam"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Steam"]) {
  color: #66c0f4 !important;
}
.connectedAccountContainer__5972d:hover:has([aria-label="Crunchyroll"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Crunchyroll"]) {
  color: #F47521 !important;
}
.connectedAccountContainer__5972d:hover:has([aria-label="eBay"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="eBay"]) {
  color: #F5AF02 !important;
}
.connectedAccountContainer__5972d:hover:has([aria-label="Xbox"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Xbox"]) {
  color:  #2ca243 !important;
}
.connectedAccountContainer__5972d:hover:has([aria-label="Battle.net"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Battle.net"]) {
  color: #0290ff !important;
}
.connectedAccountContainer__5972d:hover:has([aria-label="PlayStation Network"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="PlayStation Network"]) {
  color: #006FCD !important;
}
.profileColors_ac6ab4:where(.theme-light) .connectedAccountContainer__5972d:hover:has([aria-label="Epic Games"]) {
  color: black !important;
}
.profileColors_ac6ab4:where(.theme-dark) .connectedAccountContainer__5972d:hover:has([aria-label="Epic Games"]) {
  color: white !important;
}
.profileColors_ac6ab4:where(.theme-light) .connectedAccountContainer__5972d:hover:has([aria-label="GitHub"]) {
   color: black !important;
  }
.profileColors_ac6ab4:where(.theme-dark) .connectedAccountContainer__5972d:hover:has([aria-label="GitHub"]) {
   color: white !important;
  }
.profileColors_ac6ab4:where(.theme-dark) .connectedAccountContainer__5972d:hover:has([aria-label="X"]) {
  color: white !important;
  }
.profileColors_ac6ab4:where(.theme-light) .connectedAccountContainer__5972d:hover:has([aria-label="X"]) {
  color: black !important;
  }
.connectedAccountContainer__5972d:hover:has([aria-label="League of Legends"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="League of Legends"]) {
    color: #CEA146 !important;
  }
.connectedAccountContainer__5972d:hover:has([aria-label="Twitter"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Twitter"]) {
   color: #08a0e9 !important;
  }
.connectedAccountContainer__5972d:hover:has([aria-label="Instagram"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Instagram"]) {
   color: #C13584 !important;
  }
.connectedAccountContainer__5972d:hover:has([aria-label="Riot Games"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Riot Games"]) {
   color: #ea0029 !important;
  }
.profileColors_ac6ab4:where(.theme-light) .connectedAccountContainer__5972d:hover:has([aria-label="Domain"]) {
   color: black !important;
  }
.profileColors_ac6ab4:where(.theme-dark) .connectedAccountContainer__5972d:hover:has([aria-label="Domain"]) {
   color: white !important;
  }
.connectedAccountContainer__5972d:hover:has([aria-label="Skype"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Skype"]) {
    color: #00AFF0 !important;
  }
.connectedAccountContainer__5972d:hover:has([aria-label="Facebook"]) .connectedAccountNameText__7abc2,
.connectedAccountContainer__5972d:hover:has([aria-label="Facebook"]) {
    color: #0866FF !important;
  }
.connectedAccountContainer__5972d:hover {
    color: white;
    border-radius: 3px;
    border: 1px solid currentColor;
    box-shadow: 0px 0px 10.9px 1px currentColor;
}
/* fade in and out animation */
.connectedAccountContainer__5972d {
  transition: all 0.25s ease;
}
.connectedAccountContainer__5972d:hover .connectedAccountNameText__7abc2 {
  color: rgb(255, 0, 0);
  background-clip: text;
  animation: fadeInOut 0.25s ease, rainbowText 5s linear infinite 0.25s;
}

.connectedAccountContainer__5972d .connectedAccountNameText__7abc2 {
  color: white;
  transition: all 0.5s ease;
}
